<h4>Paginas de configuração: </h4>
<hr>
<div class="card mt-4">
  <div class="card-body">
    <a href="/admin/categorias"><button type="button" class="btn btn-primary">Criar e editar categorias</button></a><br>
    <hr>
    <a href="/admin/postagens"><button type="button" class="btn btn-primary">Criar e editar postagens</button></a>
  </div>
</div>
